{{#if errs}}
{{#each errs}}
<div style="width: 500px;" class="alert alert-danger" role="alert">
    {{this}}
</div>
{{/each}}

{{/if}}

<div style=" padding-top: 50px ; padding-left: 300px;">
    <form action="" method="POST" style="background-color: white; width: 800px;
    height: 500px;
     padding: 50px;
     padding-left: 100px;
     ">
        <div class="mb-3">
            <label for="exampleInputEmail1" class="form-label">Mật khẩu cũ</label>

            <input name="oldpass" type="password" style="width:600px" class="form-control"
                id="exampleInputEmail1" aria-describedby="emailHelp" required>
            <label for="exampleInputEmail1" class="form-label">Mật khẩu mới</label>

            <input name="pass1" type="password" style="width:600px" class="form-control"
                id="exampleInputEmail1" aria-describedby="emailHelp" required>
            <label for="exampleInputEmail1" class="form-label">Nhập lại mật khẩu mới</label>

            <input name="pass2" type="password" style="width:600px" class="form-control"
                id="exampleInputEmail1" aria-describedby="emailHelp" required>

        </div>
        <button type="submit" class="btn btn-primary">lưu lại và quay về</button>
    </form>
</div>